@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
}

.nav {
  color: lightblue;
  background-color: rgb(46, 46, 46);
  padding: 0.5rem 5%;
}

.container {
  display: grid;
  gap: 2rem;
  padding: 5% 10%;
  background-color: #f7f7f7;
  height: 100vh;
}

.list-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-container {
  border: 1px solid lightgray;
}

li {
  padding: 5px;
}

li:nth-child(even) {
  background-color: lightgray;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  width: 100px;
  padding: 5px 10px;
}

form button {
  align-self: flex-end;
}

input {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: inherit;
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 1px solid rgb(90, 90, 90);
}

footer {
  background-color: rgb(46, 46, 46);
  padding: 1.5rem 5%;
  color: lightblue;
  font-size: 0.8rem;
  text-align: center;
}

footer a {
  color: white;
}

@media (min-width: 767px) {
  .container { grid-template-columns: repeat(2, 1fr); }
}
