@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
}

.nav {
  color: white;
  background-color: rgb(46, 46, 46);
  padding: 0.5rem 5%;
}

.container {
  display: grid;
  gap: 2rem;
  padding: 5% 10%;
  background-color: aliceblue;
  height: 100vh;
}

.list-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-container {
  border: 2px solid black;
}

li {
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  width: 100px;
  padding: 5px 10px;
}

form button {
  align-self: flex-end;
}

input {
  padding: 5px;
}

@media (min-width: 767px) {
  .container { grid-template-columns: repeat(2, 1fr); }
}